<div class="logo">
  <a class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/NBA-Logo.png" />
    </div>
  </a>
  <a class="simple-text logo-normal">
    NBA Portfolio
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="{{ menuItem.class }} {{ menuItem.icon }}" aria-hidden="true"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
