.season-box {
  min-width: 150px;
  max-width: 200px;
  width: auto;
  background-color: #353544; 
  display: inline-block;
  
  input {
      color: white;
  }

  ::placeholder{
    color: teal;
  }
  
  .button {
      display: inline-block;
  }
}


::ng-deep .mat-dialog-container,.mat-card {
    background: #3f4764; //#272a3d; 
}

td {
    color: rgb(185 186 192);
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
    width: 12px;
}

.table-responsive::-webkit-scrollbar:horizontal {
    height: 12px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #3f4763;
}

.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #3f4763; 
}


.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}
 